* {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #34499a;
}
.navbarContainer {
  width: 100%;
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  height: 10%;
}
.home {
  width: 15%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.option {
  width: 25%;
  height: 100%;
}
.btn {
  width: 100%;
  height: 100%;
  padding: 1%;
  background-color: #000000;
  border: none;
  border-right: 2px solid #ffbb56;
  border-left: 2px solid #ffbb56;
  color: white;
  font-size: 130%;
}
.btn:hover {
  color: #34499a;
  background-color: #ffbb56;
  transition: all 1000ms ease;
  cursor: pointer;
}
.content {
  height: 100%;
  background-color: #ffbb56;
  display: none;
}
#content-home {
  display: block;
  background-color: #ffbb56;
}

.heading {
  text-align: center;
  color: black;
  padding: 3%;
  font-size: 250%;
  font-family: "Montagu Slab", serif;
}
.heading-home {
  color: #34499a;
  font-weight: 900;
  font-size: 400%;
  font-family: "Montagu Slab", serif;
}

img {
  width: 100%;
  height: 90%;
}

.list {
  width: 50%;
  margin-left: 25%;
  font-size: 150%;
}
li {
  padding: 2% 0%;
}

form {
  width: 100%;
}

.formWrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
}

input {
  padding: 1%;
  margin: 0.5%;
  width: 45%;
  margin-left: 2.5%;
  border: 0.5px solid #212121;
  border-radius: 10px;
  display: block;
}

.heart-btn,
.diabetes-btn {
  width: 50%;
  margin: 3%;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid #34499a;
  background-color: #212121;
  margin-left: 25%;
  color: #ffbb56;
  font-size: 150%;
  z-index: 10;
}
.heart-btn:hover,
.diabetes-btn:hover {
  background-color: #34499a;
  color: white;
  cursor: pointer;
  transition: all 1000ms ease;
}

#yt_submit {
  display: none;
}

#videos {
  width: 70%;
  margin: auto;
}

.yt_iframe {
  width: 100%;
}

.card {
  width: 30%;
  height: 100%;
  background-color: white;
  padding: 3%;
  margin: 5%;
  margin-top: 2%;
  font-size: 100%;
  color: #454699;
  border-radius: 10px;
}

.card-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cardright {
  background-color: #34499a;
  z-index: 10;
}
#cardleft {
  z-index: 10;
}

.gif1,
.gif2 {
  width: 80%;
  height: 50%;
  padding: auto;
  margin: auto;
}
.text2,
.text1 {
  padding: 2%;
  margin: 2%;
  height: 40%;
  width: 80%;
  color: white;
  font-size: 400%;
}
.text1 {
  color: #34499a;
}

.circle {
  position: absolute;
  background-color: #34499a;
  padding: 15%;
  border-radius: 100%;
  top: 100;
  left: -250;
  z-index: 0;
}
.circle2 {
  position: absolute;
  background: transparent;
  bottom: -200;
  right: -150;
  padding: 15%;
  border-radius: 100%;
  background-color: #ffbb56;
  border: 70px solid white;
  z-index: 0;
}

.content-speech {
  z-index: 10;
}

.row {
  z-index: 10;
}

.videos {
  z-index: 10;
}
.btn {
  font-family: "Poppins", sans-serif;
}
.content {
  z-index: 10;
}
.sunheading {
  z-index: 10;
}
