<!DOCTYPE html>
<html >
<head>
  <title>ML API</title>
  
</head>

<body>
 <div class="login">
	<h1>Diabetes Detection</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type='text' name="Pregnancies" placeholder="Pregnancies" required/>
    	<input type='text' name="Glucose" placeholder="Glucose" required/>
    	<input type='text' name="BloodPressure" placeholder="BloodPressure" required/>
    	<input type='text' name="SkinThickness" placeholder="SkinThickness" required/>
    	<input type='text' name="Insulin" placeholder="Insulin" required/>
    	<input type='text' name="BMI" placeholder="BMI" required/>
    	<input type='text' name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction" required/>
    	<input type='text' name="Age" placeholder="Age" required/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
